html{
  overflow-y:hidden ;
}
.container{
  display: flex;

  justify-content: center;
  height: 100vh;
}
.left-half{
  flex: 1;
    background-color: red;
}
.right-half{
  flex: 1;
background-color: blue;
}
